.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to right, #a7d9cc, #c2e3f3); /* Soft green to pastel blue */

    /* color: white; */
  }
  
  .logo a {
    font-size: 2.2rem;
    text-decoration: none;
    color: purple;
    font-weight: bolder;
    font-style:unset;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .nav-links li {
    margin: 0 15px;
    position: relative;
  }
  
  .nav-links a {
    text-decoration: none;
    color: purple;
    font-size: 1rem;
    font-weight:bolder;
  }
  
  .nav-links a:hover {
    color: #febd69;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    /* background-color: white; */
    color: black;
    list-style: none;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
  
    .nav-links {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-links li {
      margin: 5px 0;
    }
  }